<p id="notice"><%= notice %></p>

<p>
  <strong id="desc">Description:</strong>
  <%= @todo2_item.description%>
</p>

<%= link_to 'Edit', edit_todo2_item_path(@todo2_item) %> |
<%= link_to 'Back', todo2_items_path %>
